/* ===============
    Global 
   =============== */

   body {
       margin: 0;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    img {
        max-width: 100%;
    }
    
    li {
        list-style-type: none;
    }
    
    a {
        text-decoration: none;
    }
    
    /* ===============
        Typography
    ================== */
    
    /* header  */
    
    .header-text h1 {
        font-size: 1.5rem;
        max-width: 640px;
        width: 70%;
        margin: auto;
    }
    
    .header-text h2 {
        font-size: 1.125rem;   
        font-weight: 300;
    }
    
    .getStarted {
        font-size: 1.125rem;
        font-weight: 700;
        margin: 0;
    }
    
    @media (min-width: 280px) and (max-width: 359px) {
    
        .header-text h1 {
            font-size: 1rem;
        }

        .header-text h2 {
            font-size: 0.85rem;
        }

        .getStarted {
            font-size: 0.75rem;
        }
    
    }

    @media (min-width: 768px) and (max-width: 1023px) {

        .header-text h1 {
            width: 40%;
        }

    }
    
    @media (min-width: 1024px) {
        
        .header-text h1 {
            font-size: 3.125rem;
        }
        
        .header-text h2 {
            font-size: 1.625rem;
        }
        
    }
    
    /* story card */

    .story-card-heading h2 {
        font-size: 1.625em;
        font-weight: 600;
    }
    
    .story-card-heading h3 {
        font-size: 1.125rem;
        font-weight: 300;
    }

    @media (min-width: 280px) and (max-width: 359px) {
    
        .story-card-heading h2 {
            font-size: 1rem;
        }
    
        .story-card-heading h3 {
            font-size: 0.85rem;
        }
    
    }
    

/* faq section */

.faq-heading {
    font-size: 1.625rem;
    text-align: center;
    margin: 0.5em auto;
    padding-bottom: 0.5em;
}

.faq-text {
    font-size: 1.125rem;
    font-weight: 300;
}

    
@media (min-width: 280px) and (max-width: 359px) {
    
    .faq-heading {
        font-size: 1rem;
    }

    .faq-text {
        font-size: 0.85rem;
    }

}

@media (min-width: 1024px) {

    .faq-text {
        font-size: 1.4rem;
    }
    
    .faq-heading {
        font-size: 2.5rem;
    }
    
}

/* form */

.to-watch-text {
    font-size: 1.125rem;
    text-align: center;
    margin-bottom: 1em;
}

    
@media (min-width: 280px) and (max-width: 359px) {
    
    .to-watch-text {
        font-size: 0.85rem;
        width: 90%;
        margin: 1em auto;
    }

}

@media (min-width: 1024px) {

    .to-watch-text {
        font-size: 1.3rem;
    }

}

/* footer */

.footer-link a {
    font-size: 1.125rem;
    color: #707070;
}

.contact-us, 
.contact-us a,
.countryID {
    color: #707070;
    margin: 0;
    padding: 1em 0;
}

.footer-link a:hover, 
.contact-us:hover {
    text-decoration: underline;
}

@media (min-width: 280px) and (max-width: 359px) {

    .footer-link a {
        font-size: 1rem;
    }
    
}

/* ===============
    Layout
   =============== */

.container {
    max-width: 960px;
    margin: auto;
}

.container-flex {
    display: flex;
}

.tv,
.mobile,
.device-pile,
.footer-link-wrapper,
.input-button-wrapper,
.footer-nav {
    flex-direction: column;
}


/* header */

.logo-container {
    position: absolute;
    z-index: 2;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nf-logo {
    width: 88px;
    fill: #e50914;
    margin: 1em;
}

.signIn-button {
    background-color: #e50914;
    font-size: 0.875em;
    padding: 0.4375em 1.0625em;
    margin: 1em;
    color: #fff;
    border-radius: 5px;
    align-content: center;
}

@media (min-width: 280px) and (max-width: 359px) {
    
    .nf-logo {
        width: 65px;
    }

    .signIn-button {
        font-size: 0.625em;
    }

}

@media (min-width: 1024px) {
    
    .nf-logo {
        width: 145px;
    }
    
    .signIn-button {
        padding: 0.4375em 1.0625em;
       font-size: 1rem;
    }

}

/* top */

.top {
    border-bottom: 5px solid #303030;
}

.top img {
    margin-bottom: -5px;
    filter: brightness(30%);
    height: 485px;
    object-fit: cover;
}

.header-items { 
    position: absolute;
    top: 18%;
    color: #fff;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: auto;
}

@media (min-width: 280px) and (max-width: 359px) {

    .header-items {
        top: 12%;
    }
    
    .top img {
        height: 400px;
        object-fit: cover;
    }

}

@media (min-width: 768px) {

    .header-items {
        top: 10%;
    }

    .top img {
        height: auto;
    }

}

@media (min-width: 1024px) {

    .top img {
        height: auto; 
    }

    .header-items {
        width: 100%;
        top: 13%;
        margin: auto;
    }

}

@media (min-width: 1280px) {

    .header-items {
        width: 100%;
        top: 25%;
        margin: auto;
    }

}

/* form */

.subscribe-form {
    margin-bottom: 2em;
}

.input-button-wrapper {
    align-items: center;
}

.email-field {
    padding: 1em 1.875em 1em 0.5em;
    width: 70%;
    margin-bottom: 0.5em;
}

.subscribe {
    border: none;
    background-color: #e50914;
    width: 45%;
    color: #fff;
    justify-content: center;
    padding: 1em;
    align-items: center;
}

.getStarted-svg {
    width: 20px;
    height: 20px;
    fill: #fff;
}

@media (min-width: 280px) and (max-width: 359px) {
    
    .email-field {
        width: 75%;
        font-size: 0.75em;
    }

    .subscribe {
        width: 45%;
    }

    .getStarted-svg {
        width: 14px;
        height: 14px;
    }

}

@media (min-width: 415px) {
    
    .email-field {
        width: 60%;
    }

    .subscribe {
        width: 35%;
    }
    
}

@media (min-width: 768px) {

    .input-button-wrapper {
        max-width: 100%;
        margin: auto;
    }
    
    .email-field {
        width: 50%;
    }

    .subscribe {
        width: 30%;
    }
    
}

@media (min-width: 1024px) {
    
    .input-button-wrapper {
        flex-direction: row;
        max-width: 100%;
        width: 50%;
        margin: auto;
    }
    
    .email-field {
        font-size: 1.125rem;
        margin: auto;
        width: 60%;
    }
    
    .subscribe {
        padding: 1.5em;   
        width: 40%;     
    }
    
}


/* story card */

.tv,
.mobile,
.device-pile {
    position: relative;
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #303030;
    align-items: center;
}

.story-card-heading {
    text-align: center;
    margin: 0 auto;
    width: 80%;
}

@media (min-width: 1024px) {

    .tv,
    .mobile,
    .device-pile {
        flex-direction: row;
        align-items: center;
        padding: 1.5em;
    }

    .story-card-heading {
        text-align: left;
        width: 50%;
    }

    .story-card-mobile {
        order: 1;
    }

    .mobile .story-card-heading {
        order: 2;
    }
}

.story-card-tv img,
.story-card-device-pile img {
    position: relative;
    z-index: 2;
}

@media (min-width: 1024px) {
    
    .story-card-heading h2 {
        font-size: 2.5rem;
    }
    
    .story-card-heading h3 {
        font-size: 1.5rem;
    }
    
}

/* story card video */

.story-card-video video {
    position: absolute;
    width: -webkit-fill-available;
    width: -moz-available;
    right: 0;
}

@media (min-width: 280px) and (max-width: 290px) {
     
    .tv .story-card-video video {
        height: 116px;
        top: 48%;
    }
    
    .device-pile .story-card-video video {
        height: 103px;
        top: 40%;    
    }

}

@media (min-width: 291px) and (max-width: 330px) {
     
    .tv .story-card-video video {
        height: 143px;
        top: 48%;
    }
    
    .device-pile .story-card-video video {
        height: 109px;
        top: 40%;   
    }

}

@media (min-width: 331px) and (max-width: 359px) {
     
    .tv .story-card-video video {
        height: 146px;
        top: 44%;
    }
    
    .device-pile .story-card-video video {
        height: 120px;
        top: 38%;  
    }

}

@media (min-width: 360px) and (max-width: 410px) {
    
    .tv .story-card-video video {
        height: 170px;
        top: 48%;
    }
    
    .device-pile .story-card-video video {
        height: 130px;
        top: 44%;
    }
    
}

@media (min-width: 411px) and (max-width: 460px) {

    .tv .story-card-video video {
        height: 190px;
        top: 46%;
    }
    
    .device-pile .story-card-video video {
        height: 151px;
        top: 40%;
    }
    
}

@media (min-width: 461px) and (max-width: 490px) {

    .tv .story-card-video video {
        height: 226px;
        top: 40%;
    }
    
    .device-pile .story-card-video video {
        height: 169px;
        top: 34%;
    }
    
}

@media (min-width: 461px) and (max-width: 490px) {
    
    .tv .story-card-video video {
        height: 226px;
        top: 40%;
    }
    
    .device-pile .story-card-video video {
        height: 166px;
        top: 38%;
    }
    
}

@media (min-width: 491px) and (max-width: 530px) {

    .tv .story-card-video video {
        height: 216px;
        top: 42%;
    }
    
    .device-pile .story-card-video video {
        height: 180px;
        top: 34%;
    }
    
}

@media (min-width: 531px) and (max-width: 590px) {

    .tv .story-card-video video {
        height: 238px;
        top: 40%;
    }
    
    .device-pile .story-card-video video {
        height: 195px;
        top: 32%;
    }
    
}

@media (min-width: 591px) and (max-width: 630px) {

    .tv .story-card-video video {
        height: 266px;
        top: 38%;
    }
    
    .device-pile .story-card-video video {
        height: 218px;
        top: 32%;
    }
    
}

@media (min-width: 631px) and (max-width: 677px) {

    .tv .story-card-video video {
        height: 266px;
        top: 38%;
    }
    
    .device-pile .story-card-video video {
        height: 230px;
        top: 32%;
    }
    
}

@media (min-width: 678px) {

    .tv .story-card-video video {
        height: 286px;
        top: 36%;
    }
    
    .device-pile .story-card-video video {
        height: 235px;
        top: 30%;
    }
    
}

@media (min-width: 1024px) and (max-width: 1114px) {

    .tv .story-card-video video {
        width: auto;
        height: 246px;
        top: 22%;
        left: 48%;
    }
    
    .device-pile .story-card-video video {
        width: auto;
        height: 195px;
        top: 14%;
        left: 53%;
    } 
    
}

@media (min-width: 1280px) {

    .tv .story-card-video video {
        width: auto;
        height: 266px;
        top: 22%;
        right: 8%;
    }
    
    .device-pile .story-card-video video {
        width: auto;
        height: 216px;
        top: 14%;
        right: 12%;
    } 
    
}

/* faq */

.faq {
    background-color: #000;
    color: #fff;
    border-bottom: 5px solid #303030;
    padding: 1.5em 0;
}

.faq-button {
    justify-content: space-between;
    align-items: center;
    background: #303030;
    color: #fff;
    border: none;
    width: 100%;
    margin: 0.5em auto;
    padding: 0 1.125em;
    cursor: pointer;
}

#thin-x {
    fill: #fff;
    width: 24px;
    transform: rotate(45deg);
}

@media (min-width: 280px) and (max-width: 359px) {
    
    #thin-x {
        width: 18px;
    }

}

@media (min-width: 678px) {

    .faq-button {
        width: 90%;
    }
    
}

/* footer */

footer {
    background-color: #000;
    padding: 1em;
}

.footer-nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5em;
}

@media (min-width: 280px) and (max-width: 359px) {

    .footer-nav {
        display: list-item;
        padding: 1em;
    }
    
}

@media (min-width: 1024px) {
    
    .footer-nav {
        grid-template-columns: repeat(4, 1fr);      
    }

}
