/* Reset */

* {
    margin: 0;
    padding: 0;
}

/* Global */

a {
    text-decoration: none;
    color: #757575;
}

li a:hover {
    text-decoration: underline;
}

body {
    background-color: #303030;
}

/* Form */

.subscribe-form {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    align-content: center;
}

.subscribe {
    padding: 10px;
}

.emailField {
    padding: 10px 30px 10px 8px;
    width: 30%;
}

.getStarted-button {
    padding: 15px;
    background-color: #e50914;    
    border: none;
    width: 20%;
}

.getStarted-wrapper {
    display: flex;
    justify-content: center;
    padding: 0 5px;
    color: #fff;
    font-size: 1.5rem;
    align-items: center;
}

.getStarted-svg {
    height: 19.15px;
    width: 9.75px;
    padding: 0 10px;
    fill: #fff;
}

/* End */

/* Image Wrapper  */

.image-wrapper img {
    max-width: 100%;
    height: auto;
    filter: brightness(35%);
}

/* End */

/*Section Class: Top */

.top {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.svg-icon-netflix-logo {
    margin: .8rem;
    height: 73px;
    width: 145px;
    fill: #e50914;
}

.redButton {
    padding: 7px 17px;
    margin: .8rem;
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    align-self: center; 
}


/* End */

/* Header Text  */

.header-text {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(70%);
    text-align: center;
}

.title__header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.125rem;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
}

.subtitle__header {
    font-size: 1.625rem;
    font-weight: 100;
    padding: 10px;
}

.toWatch-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 200;
    padding: 15px;
}

/* End */

/* Section: tv, mobile, device-pile  */

.tv {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    margin-bottom: 5px;
    max-width: 100%;
}

.tv img {
    position: relative;
    max-width: 100%;
    order: 2;
    z-index: 2;
}

.tv .big-text {
    order: 1;
}

.mobile {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
    max-width: 100%;
    margin-bottom: 5px;
}

.mobile img {
    max-width: 100%;
    order: 1;
}

.mobile .big-text {
    order: 2;
}

.device-pile {
    background-color: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
    margin-bottom: 5px;    
}

.device-pile img {
    position: relative;
    max-width: 100%;
    z-index: 2;
}

.device-pile .big-text {
    order: 1;
}

/* Story Card */

.story-card-tv,
.story-card-device-pile {
    position: relative;
    order: 2;
}

.story-card-video-tv {
    position: absolute;
    top: 20%;
    left: 12%;
    width: 475px;
}

.story-card-video-devices {
    position: absolute;
    top: 10%;
    left: 18%;
    width: 400px;
}

/* End */

/* End */ 

/* Section: tv, mobile, device-pile | big-text  */

.big-text {
    margin: auto;
    max-width: 50%;
    color: #fff;
}

/* End  */

/* Section class: button  */

.title {
    color: #fff;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 400;
}

.button {
    background-color: #000;
    height: 100vh;
    margin-bottom: 5px;
    padding: 50px;
    max-width: 100%;
    text-align: -webkit-center;
}

.faq-button {
    padding: 15px 0;
}

.faq-svg-text {
    display: flex;
    justify-content: space-between;
    background-color: #303030;
    cursor: pointer;
    border: none;
    width: 60%;
    padding: 25px;
    margin-bottom: 5px;
}

.faq-list-text {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
}

.svg-icon-thin-x {
    align-self: center;
    width: 20px;
    height: 20px;
    fill: #fff;
    transform: rotate(45deg);
}

/* End */

/* Section class: footer  */

.whole-footer {
    background-color: #000;
    padding: 70px;
    height: 30vh;
}

.footer-link-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px ;
}

.footer-links {
    list-style-type: none;
}

/* Footer Texts */

.footer-head-link {
    padding: 10px 0;
    font-size: 1rem;
}

.footer-nav-text {
    font-size: 1.2rem;
}

.nfNG {
    color: #757575;
    padding: 10px 0;
    font-size: 1rem;
}

/* Login Page Styles */

.signUp-form {
    position: absolute;
    top: 0;
    left: 30%;
    background-color: rgba(0, 0, 0, .65);
    padding: 10px;
}